.newVehicleForm
{
	padding-top: 0.5em;
	padding-left: 0.3em;
	font-size: 13px;
    display: inline-block;
    margin:5% 0 0 30%;
    width:35%;



}


.field
{

	padding-top:0.3em;
	padding-bottom:0.3em;

    display:inline-block;
    width:100%;


}

.vButton {
  padding:10px 0 0 0;
  height:30px !important;
  margin: 0 0 0 10%;
}



/*

.newEmployeeForm .dataField span
{
	display:block;
}

.newVehicleForm  .dataField input{
	width:100%;
	height : 45px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left : 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;

}

.newVehicleForm .error {
	color:#f00;
}

.newVehicleForm .dataField .error {
	display:inline-block;
}

.submit , .cancel {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	background-color: #187DE5;
	margin-top: 5px;
	text-align: center;
	height: 45px;
	width: 49%;
	display:inline-block;
	cursor: pointer;
	border: 1px solid #0C57A3;
	transition: all 0.2s ease-out 0s;
	padding-top:0.9em;
	padding-bottom:0.8em;
	padding-left:2em;
	padding-right:2em;
}*/


.branchManagement
{
	padding-top: 0.5em;
	padding-left: 0.3em;
	font-size: 13px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height:700px;

    height:90%;

}


.vehicleGroupManagement

{
	padding-top: 0.5em;
	padding-left: 0.3em;
	font-size: 13px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width:90%;

    height:90%;

}



.vehicleTable
{
	padding-top: 0.5em;
	padding-left: 0.3em;
	font-size: 13px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width:90%;

    height:90%;

}






