.organizationManagement
{
	padding-top: 0.5em;
	padding-left: 0.3em;
	font-size: 13px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width:90%;


}

.organizationManagement .field
{
	padding-top:0.3em;
	padding-bottom:0.3em;

    display:inline-block;
    width:100%;
}

.organizationManagement .field label
{
	display:inline;
	width:100px;

}

.organizationManagement .personDataType {
	display:inline-block;
	background-color: #0866c6;
    width:100%;
	display:flex;
}

.organizationManagement .personDataType  div
{

	flex:2;
	padding:0.1em;
	cursor:pointer;
	border: 0.2em solid #0866c6;
	font-weight:bold;

}

.organizationManagement .personDataType .active {
	background-color: #fff;
	color: #0866c6;
}
.organizationManagement .personDataType .inactive {
	color: #fff;
	background-color: #0866c6;
}


.organizationManagement  select{

	margin-top: 5px;
	margin-bottom: 5px;
	padding-left : 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;

}
.organizationManagement  input{


	margin-bottom: 5px;
	padding-left : 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;

}

.organizationManagement .byDetailsContainer.inactive {
	visibility:hidden;
	display:none;
}

.organizationManagement .byIdContainer.inactive {
	visibility:hidden;
	display:none;
}


.organizationManagement .message {
	font-size : 1.5em;
	border-bottom : 1.5em;
}

.organizationManagement .error {
	color:#f00;
}

.organizationManagement .field .error {
	display:inline-block;
}

.ok , .cancel , .editbutton {

}

input[type=checkbox].check {
	display:none;
}

input[type=checkbox].check + label.css-label {
	padding-left:23px;
	height:19px;
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	cursor:pointer;
}

input[type=checkbox].check:checked + label.css-label {
	background-position: 0 -19px;
}

label.css-label {
	background-image:url(csscheckbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.oButton {
  padding:10px 0 0 0;
  height:30px !important;
  margin: 0 0 0 10%;
}

.oSelect{
  float:right;
}