#detailsBox {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border: 3px solid #FFF;
    width: 32%;

}


.iHandler
 {
  background-image: url("images/indicator.png");
  height:71px;
  width:151px;
  margin: 0 1% 0 0;
  display:flex;

 }
.iHandlerTxt {
 padding: 15% 0 0 9%;
 font-family: "RobotoRegular","Helvetica Neue",Helvetica,sans-serif;
 font-size: 14px;
 font-weight: bold;
 color: #FFF;

}

.reportText  {
 padding: auto 0;
 margin:0 0 0 40%;
 font-family: inherit;
 font-size: 16px;
  font-weight: bold;

 color: #5133AB;;

}

.iHandler1
 {
  background-image: url("../images/indicator.png");
  height: 70px !important;
  margin: 0 40px 0 10px;
  width:150px;

 }


.label, .value {
    display: inline;
}

.value {
    display: inline;
    width: 200px;
    align:right;
}



#primary {
    margin: 2%;
   <!--- border: 2px solid #ccc; --->
}



#primary div > input  {

    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: 1px solid #ccc;
}


#primary div > select {

    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    margin: 0 0 0 3% !important;
    padding-left: 10px;
    color:#000;
    font-size: 13px;
    border: 1px solid #ccc;
}

button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background-color: #187DE5;
    text-align: center;
    height: 45px;
    width: 45%;
    cursor: pointer;
    border: 1px solid #0C57A3;
    transition: all 0.2s ease-out 0s;
    padding-top: 0.9em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    padding-right: 2em;;
}

#addPoi {
    display: flex;
    width: 95%;
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 10px;
    height:80px;
 
}

#report {
  <!---  border: 2px solid #A52A2A; -->
     width: 95%;
     margin: 8% 0 0 2%;


}

#addPoiButton {
    height:50px !important;
    width: 180px !important;
    margin: 0% !important;
    padding: 0% 0 0 0 !important;
    text-align: center;
}


.addPoiDivs {
    display: inline;
    padding: 20% 0 0 1%;
    width: 200px !important;

}


#controls {

  <!---  border: 1px solid #A52AAA;  -->
    height: 100px !important;
    width: 100%;
    display: flex;
    margin: 2% 0 0 0 !important;
}

#reportData {

    margin: 5% 0 0 6% !important;
    border: 1px solid #000;
    display: inline-block;
    width:90%;

}

.row {
    display: inline;
}

.cell {
    display: inline-block;
    border: 0px solid transparent;
    margin: 0 2% 0 0 !important;
    padding: 0 0 0 0 !important;
    height: 50px !important;
    width:200px   !important;
    color:#FFF;
    font-family: "RobotoRegular","Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

table {

    width: 100%;
}

.success {
    color: #279f0a;
    float: right;
}

.errorBox {
    color: #f00;
    float: right;
}

#searchButtonImg {
   height:48px !important;
   width: 48px !important;
   float: right!important;
   cursor: pointer;

}

#searchButtonImg > img{

     display:inline;
     width:48px;
     margin:3px 0 0 5px;
     height:48px;
     float:right;

}

#show {

    height:50px !important;
    margin: 10px 0 0 20px !important;
    text-align: center;
}

.reportImg {
    display: inline-block;
    margin: 30px 0 0 0 !important;
    height: 50px !important;
    width:200px   !important;

}

.label1{
   float:left !important;
   display:flex;
   font-weight: bold;
   padding: 5% 0 0 0;
}

.value1{
   float:right !important;
   display:inline;
}



.value1 .genericSelect  {
   height:49px !important;
   width: 213px !important;
   margin-top: 5px !important;
   margin-bottom: 5px !important;
   padding-left: 10px !important;
}

.field1{

  display:inline-block;
  width:100% !important;
  <!---- border: 1px solid #A52AAA; -->

}

#placeName{

 width:152px !important;
 height:40px !important;
}

.poiButton{
  width:40% !important;
  margin: 5% 0 0 5%;
}

