.authSettings .heading,
.authSettings .body {
    width: 100%;
}

.authSettings .body .row {
    height: 8em;
}

.authSettings .heading > div {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 33%;
}

.authSettings .body .row .role,
.authSettings .body .row .users,
.authSettings .body .row .permissions {
    display: inline-block;
    width: 33%;
    padding: 2px;
    vertical-align: top;
}

.authSettings .body .row .users,
.authSettings .body .row .permissions {
    max-height: 100%;
    overflow-y: auto;
}

.authSettings .buttonContainer {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.authSettings .buttonContainer .button {
    display: inline-block;
    background-color: #adf;
}

