.genInlineBlockA{
    width:70%;
    margin:2% 0 0 20%;
    display:flex;
    position:relative;
    border: 0px solid #5133AB;
    text-align:center;
    }

.genInlineBlockA1{
    width:80%;
    padding-left:15%;
    display:flex;
    margin-top:2%;
    border: 0px solid #5133AB;

    }

.report1 > .genericInput{
    margin: 0 2% ;
    }

.fieldDate > .submit{
    margin: 10% 0 0 10% ;
    height:40px !important;
    padding-top:5px !important;
    }


.fieldDateLabel   {
    border: 0px solid #5133AB;

    height:30px !important;
    margin-top:10px;
    margin-right:20px;
    margin-left:20px;

    width:200px;
    font-weight: bold;
    }

.fieldDate{
    border: 0px solid red;
    width:33%;
    padding-top:0px;
    display:flex;
    }

#tablediv {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    }

.vSContainer{
    width: 420px;
    height:150px !important;
    border: 0px solid red;
    display: table;
    background-color: #5133AB;
    padding-left: 3px;

}

.vSContainer .vehicleSelectorTable .vehicleContainer{
    height:120px !important;
}


.vSContainer   .vehicleSelector  .vehicleSelectorTable  .vehicleGroupsContainer{
    background-color: #FFF;
    border: 1px solid white !important;
}

.vSContainer  .vehicleSelector  .vehicleSelectorTable  .branchesContainer{
    background-color: #FFF;
    border: 1px solid #FFF !important;
}
.vSContainer  .vehicleSelector  .vehicleSelectorTable  .vehicleContainer{
    background-color: #FFF;
    border: 1px solid #FFF !important;
}
