.genInlineBlockA{
    width:70%;
    margin:2% 0 0 20%;
    display:flex;
    position:relative;
    border: 0px solid #5133AB;
    text-align:center;
    }

.genInlineBlockA1{
    width:80%;
    padding-left:15%;
    display:flex;
    margin-top:2%;
    border: 0px solid #5133AB;

    }

.report1 > .genericInput{
    margin: 0 2% ;
    }

.fieldDate > .submit{
    margin: 10% 0 0 10% ;
    height:40px !important;
    padding-top:5px !important;
    }


.fieldDateLabel   {
    border: 0px solid #5133AB;

    height:30px !important;
    margin-top:10px;
    margin-right:20px;
    margin-left:20px;

    width:200px;
    font-weight: bold;
    }

.fieldDate{
    border: 0px solid red;
    width:33%;
    padding-top:0px;
    display:flex;
    }

#tablediv {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    }
