#addUser{
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top:0%;
    width:40%;
    height:100%;
    }


.userManagement
{
	padding-top: 0.5em;
	padding-left: 0.3em;
	font-size: 13px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    width:90%;

}


.userManagement .field
{
	padding-top:0.3em;
	padding-bottom:0.3em;
	display:inline-block;

    width:100%;

}



.userManagement .personDataType {
	display:inline-block;

    width:100%;
	display:flex;
}

.userManagement .personDataType  div
{

	flex:2;
	padding:0.1em;
	cursor:pointer;
	border: 0px solid #0866c6;
	font-weight:bold;

}

.userManagement .personDataType .active {
	background-color: #fff;
	color: #0866c6;
}
.userManagement .personDataType .inactive {
	color: #fff;
	background-color: #0866c6;
}


.userManagement  input,select{

	float:right;



}


.userManagement .byDetailsContainer.inactive {
	visibility:hidden;
	display:none;
}

.userManagement .byIdContainer.inactive {
	visibility:hidden;
	display:none;
}



.userManagement .error {
	color:#f00;
}

.userManagement .field .error {
	display:inline-block;
}




/*
.ok , .cancel, .editbutton {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	background-color: #187DE5;
	margin-top: 5px;
	text-align: center;
	height: 45px;
	width: 49%;
	display:inline-block;
	cursor: pointer;
	border: 1px solid #0C57A3;
	transition: all 0.2s ease-out 0s;
	padding-top:0.9em;
	padding-bottom:0.8em;
	padding-left:2em;
	padding-right:2em;
}
*/




.errorBox {
	color:#f00;
	float:right;
}

.success
{
    color: #279f0a;
    float:right;
}

.buttonContainer{

  display:inline-block;
}

.uButton {
  padding:10px 0 0 0;
  height:30px !important;
  margin: 20% 0 0 10%;
}

.list {
	width:250px;
	min-height:100px;
    float:right;
    overflow-y:scroll;
    display:block;
    border: 0px solid #0C57A3;

}


.userManagement > .genericCheckBoxContainer{
    display:block;
    width:250px;
    height:100px;
    }
.userCheckbox{
    border: 0px solid #0C57A3;
    display:flex;
    text-align:right;

    }
.check{
    float:left;
}

.checkLabel{
    float:right;
    }


