/* styling for checkbox starts */
/*
   checkbox inputs class should be 'css-checkbox' 
   & corresponding label should have class 'css-label' 
   with for attribute equal to id of checbox
*/
input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:23px;
	height:19px;
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -19px;
}

label.css-label {

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* styling for checkbox ends */

/* styling for number input starts */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:hover { 
    color: #236DCD;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
}

input[type=number]::-webkit-inner-spin-button:before {
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}
/* styling for number input ends */

/*  contains thw whole form  */
.formContainer{
	display: inline-block;
    font-size: 15px;
	padding: 3%;
    width: 40%;
    margin: 2% 0 0 25%;
    font-weight: bold;
	border: 2px solid #5133AB;
	border-radius: 5px;
/*	background-color: #EBF5FF; /* delete/comment the line if background color of form not needed */
}

/* contains the row containing label and their corresponding inputs */
.formRow{
	display: table-row;
	width:100%;
	margin: 1% 0 0 0 ;

}

.formCell>label{
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2%;
}

/* contains the single cell or <td> contents */
.formCell{
	display: table-cell;
}

.permissions {

  margin: 10px 0 0 0;

}



.formHead{
	display: table-cell;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: "Lucida Console", Helvetica, sans-serif;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	margin: 5px 0 10px 0;
	background-color: #00A0B1;
    width: 300px;
}

/* custom form button styling */
.formButton {
    display: inline-block;
    margin: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background-color: #187DE5;
    width: 150px;
    max-height: 15vh;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 6%;
    cursor: pointer;

}

.formButton:hover{
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
   	background-color: #1364B7;
}

/* text and password inputs styling start */
.formContainer input[type="text"],.formContainer input[type="password"],.formContainer input[type="number"] {
	display: inline-block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 5px 10px 0px 15px;
	border: solid 1px #dcdcdc;
    min-width: 70%;
    max-width: 70%;
    margin-left: 50px;
	transition: box-shadow 0.3s, border 0.3s;
}
.formContainer select {

	display: inline-block;

	font-size: 0.9em;
	padding: 0;
	border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    margin-left: 15%;
    width: 100%;
    height: 30px;

}

.formContainer input[type="text"]:focus,.formContainer input[type="password"]:focus,.formContainer input[type="number"]:focus,.formContainer select:focus {
  	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #969696;
}




.formContainer > .permissionDataContainer {
	 margin: 5% 0 5% 0;

}

/* text and password inputs styling end */

/* error class for error message (add error class and remove success class)*/
.formContainer .error {
	color: #ff2233;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;

}


/* success class for success message (add success class and remove error class)*/
.formContainer .success {
	color: #009900;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

/* css for including error and success images to input box */
/* start */
.formContainer span {
	margin: 15px;
}

span>img {
	display: none; /* change display = true to show image */
	vertical-align: sub;
}
/* end */

/* --------------------------------------------------Generic Elements------------------------------------------ */



/* ----------------Generic Button---------------- */

.genericButton {
    font-family: "RobotoRegular","Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin:2%;

    color: #ffffff;
    background-color: #5133AB;
    text-align: center;
    height: 45px !important;
    width: 100px;
    cursor: pointer;
    border: 1px solid #0C57A3;
    transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;
    vertical-align: middle !important;
    text-align: center;
    float:left;
}


.genericButton:hover{
    background-color: 	#634BAB;
}


/* ----------------Generic Button Ends---------------- */


/* ----------------Generic Select---------------- */

.genericSelect {
    font-family: "RobotoRegular","Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #00000;
    text-align: left;
    height: 52px;
    width: 213px;
    padding-left: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s;

}



/* ----------------Generic Select---------------- */

/* ----------------Generic INPUT---------------- */
.genericInput {
    width: 200px;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    font-family:  "RobotoRegular","Helvetica Neue",Helvetica,sans-serif";
    font-size: 13px;
    float:right;

}

/* ----------------Generic INPUT---------------- */

/* ----------------Generic FORM FIELD LABEL---------------- */
.genericFormLabel
{
	display:inline;
	width:100%;
    font-weight: bold;
	vertical-align: middle;

}

/* ----------------Generic FORM FIELD LABEL---------------- */

/* ----------------Generic CheckBox---------------- */

.genericCheckbox {
	padding-left:20px;
	height:19px;
	margin:0 0 0 0;
	width:100%;;
	display:inline-block;
	line-height:19px;
	background-repeat:no-repeat;
	background-position: 0 0;
	cursor:pointer;
	background-image:url(images/csscheckbox2.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.genericCheckBoxContainer
{
   margin: 0 0 0 0;
   width:80%;

   float:right;

}


/* ----------------Generic FORM Header---------------- */
.genericFormHeader
{
	display:inline;
	width:100%;
	font-size:15px;
    font-weight: bold;
	vertical-align: middle;
    text-align:center;
    padding: 0 0 0 40%;
}

/* ----------------Generic FORM Header---------------- */


.genFormContainer{
	display: inline-block;
    font-size: 15px;
	padding: 3%;
    width: 80%;
    margin: 2% 0 0 10%;
    font-weight: bold;
 	border: 0px solid #5133AB;
	border-radius: 5px;
/*	background-color: #EBF5FF; /* delete/comment the line if background color of form not needed */
}



.genInlineBlock
{
   display: flex !important;
   width:100%;



}

#tableDiv
{
 height:90% !important;
}

#showBranch
{
 height:100% !important;
}