.layout1 {
	position:relative;
	background-color: #FFF;
 	width:100em;   /*  NV   SEP14  */
	display:block;
	margin: auto;
	border-width: 0px; /*  NV   SEP14  */
    box-sizing: border-box;
    height:48em;


}

.layout1 > .header {
	height:15px;
	width:100em;
	background-color: 	#FFF;
	display:block;
}


.layout1 > .footer {
	background-color: #187DE5;
	height:0px; /*  NV   SEP14  */
	width:100em;
	position:absolute;
	bottom:0;
}

.layout1 > .body {

    width:100%;
	padding-bottom:0px;   /*  NV   SEP14  */


}

.header_logo{

  width: 100%;
  height: 80px;
  display:inline;
  	border: 0px solid blue;


}
.header_logo >   .lab_logo{


	width: 15%;
	height:80px;
	display:inline;

}

.header_logo >   .client_logo{

    align: left;
    margin: 0 2% 0 27%;
	width: 15%;
	height:80px;
	display:inline;

}
 .right_message {


    float:right;
	border: 0px solid red;
    width:15%;
    display: inline;
    margin-bottom: auto;
    margin-bottom: auto
}

.welcome_message
{
    float:left
    display: inline;
    margin-bottom: auto;
    margin-bottom: auto
;
}
.logout
{
    float:right
    display: inline;
    width:20%;
    background-color: #5133AB;
    color: #FFF;
    height:25px;
    width:70px;
    padding: 5px 0 0 12px;
    cursor: pointer;
}



.header_logo > .article1{
     display:inline;
     width:200px;
     margin: 3%;
	 height:80px;


}




.header_logo{

  width: 100%;
  height: 80px
  display:inline;


}
.header_logo >   .lab_logo{


	width: 15%;
	height:80px;
	display:inline;

}

.header_logo >   .client_logo{

    align: left;
    margin: 0 2% 0 27%;
	width: 15%;
	height:80px;
	display:inline;

}
.header_logo > .article1{
     display:inline;
     width:200px;
     margin: 3%;
	 height:80px;


}




